<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>389989520532-ig0c6n0091jurp2levr72etq6moj5d13.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.389989520532-ig0c6n0091jurp2levr72etq6moj5d13</string>
	<key>API_KEY</key>
	<string>AIzaSyBy6eHixEc5_H59eYOZqcKx1Robt8HWjFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>389989520532</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.muj.squareghost.squareGhost</string>
	<key>PROJECT_ID</key>
	<string>square-ghost-renew</string>
	<key>STORAGE_BUCKET</key>
	<string>square-ghost-renew.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:389989520532:ios:566780c22de59ccc8b5081</string>
	<key>DATABASE_URL</key>
	<string>https://square-ghost-renew-default-rtdb.firebaseio.com</string>
</dict>
</plist>